@charset "utf-8";
@import url("./normalize.css");

*, *::before, *::after {
  box-sizing: border-box;
}
/* 플로트 이슈를 해결하기 위한 CSS 모듈 */
.clearfix::after {
  content: "";
  display: block;
  background: yellow;
  clear: both;
}
.container {
  background: silver;
}
.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}
.header {
  height: 10vh;
  background: yellow;
}
.visual {
  height: 120px;
  background: orange;
}
.main {
  /* display: flex;
  justify-content: space-between;
  height: 60vh; */
  padding: 30px 15px;
  background: lime;
}
.group {
  float: left;
  height: 30vh;
  margin: 0 15px;
}
.group1 {
  width: 250px;
  background: skyblue;
}
.group2 {
  width: 380px;
  background: pink;
}
.group3 {
  width: 190px;
  background: teal;
}
.slogan {
  height: 10vh;
  background: tomato;
}
.footer-bg {
  background: purple;
}
.footer {
  height: 10vh;
  background: yellow;
}
