@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./normalize.css");

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
/* 기본 스타일 */
html {
  font-size: 10px;
}
body {
  color: #181818;
  font-size: 1.4rem;
  font-family: "Spoqa Han Sans", sans-serif;
  font-weight: 400;
  background: #FFF;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 숨김 콘텐츠 */
.readable-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
/* 플로트 이슈를 해결하기 위한 CSS 모듈 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  background: silver;
}
.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  position: relative;
  padding: 0 30px;
  background: #FFF;
}
/* 로고 */
.logo {
  position: absolute;
  top: 50px;
  left: 65px;
}
/* 멤버 링크 */
.member {
  position: relative;
  right: -10px;
  padding: 0 2px;
  text-align: right;
}
.member li, .member a {
  display: inline-block;
}
.member li:nth-child(n+2)::before {
  content: ":";
}
.member a {
  padding: 8px 7px 7px 10px;
  text-transform: uppercase;
}
.visual {
  height: 120px;
  background: orange;
}
.main {
  /* display: flex;
  justify-content: space-between;
  height: 60vh; */
  padding: 30px 15px;
  background: lime;
}
.group {
  float: left;
  height: 30vh;
  margin: 0 15px;
}
.group1 {
  width: 250px;
  background: skyblue;
}
.group2 {
  width: 380px;
  background: pink;
}
.group3 {
  width: 190px;
  background: teal;
}
.slogan {
  height: 10vh;
  background: tomato;
}
.footer-bg {
  background: purple;
}
.footer {
  height: 10vh;
  background: yellow;
}
